* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
.wrapper {
    padding: 50px 0;
    background: url('img/newyork_blur.jpg') 50%/cover no-repeat scroll;
}
.container {
    max-width: 1200px;
    background: url('img/newyork_blur_1.jpg') 50%/cover no-repeat fixed;
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

.container > h1, .container > h3 {
    text-transform: uppercase;
    background-color: rgba(0, 0, 0,.6);
    letter-spacing: 2px;
    max-width: 400px;
    margin: 15px auto;
} 
.container > h1 {
    margin: 0 auto 15px;
}

.photo {
    max-width: 600px;
    height: 400px;
    background: url('img/newyork.jpg') 50%/cover no-repeat;
    border: 10px solid #fff;
    margin: 0 auto;
}

.metro {
    margin: 30px auto;
    min-width: 800px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.metroPhoto {
    width: 400px;
    height: 300px;
    background: url('img/metro.png') 50%/cover no-repeat;
    margin: 0 10px 0 0;
}
.metroAbout {
    width: 390px;
    text-align: left;
    padding: 1rem;
    background-color: rgba(0, 0, 0,.4);
}
.metroAbout > p {
    margin: 0;
}

.photos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.photo1 {
    width: 350px;
    height: 250px;
    background: url('img/building_1.jpg') 50%/cover no-repeat;
    margin: 10px;
}
.photo2 {
    width: 350px;
    height: 250px;
    background: url('img/building_2.jpg') 50%/cover no-repeat;
    margin: 10px;
}
.photo3 {
    width: 350px;
    height: 250px;
    background: url('img/building_3.jpg') 50%/cover no-repeat;
    margin: 10px;
}
.photo4 {
    width: 350px;
    height: 250px;
    background: url('img/building_4.jpg') 50%/cover no-repeat;
    margin: 10px;
}
.photo5 {
    width: 350px;
    height: 250px;
    background: url('img/building_5.jpg') 50%/cover no-repeat;
    margin: 10px;
}
.photo6 {
    width: 350px;
    height: 250px;
    background: url('img/building_6.jpg') 50%/cover no-repeat;
    margin: 10px;
}
button {
    width: 200px;
    height: 40px;
    background-color: yellowgreen;
}
button:hover {
    cursor: pointer;
    opacity: .7;
}